<% if resource.errors[field].any? %>
  <div class="text-[#E34141] text-[12px] font-medium leading-[normal] pl-1" id="error_explanation" data-turbo-cache="false">
    <ul>
       <%=field%> <%=resource.errors[field].to_sentence %>
    </ul>
  </div>
<% end %>