<div class="flex flex-col">
    <% if current_user.present? %>
        <%= turbo_frame_tag "new_tweet" do %>
            <%= render "form", model: @new_tweet%>
        <%end%>
    <%end%>
    <% @tweets.each do |tweet|%>
        <%= render "tweet", tweet: tweet %>
    <%end%>
</div>
