<div class="w-[600px] h-[120px] flex flex-row self-auto">
    <div class="pr-3 mt-0">
        <%= link_to (image_tag "default.png", class: "w-12 h-12 mt-1 rounded-full"), user_path  %>
    </div>
    <%= render "form", model: @tweet %>
</div>
