/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .signup  {
    width: 600px;
    height: 650px;
    top: 187px;
    left: 420px;
    gap: 0px;
    border-radius: 29px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #00000026;
 }

 .signup .create-text {
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: Fixed (276px)px;
    height: Fixed (34px)px;
    top: 276px;
    left: 478px;
    gap: 0px;
    opacity: 0px;
 }

 .signup .input-field {
    width: 483px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    background: rgba(217, 217, 217, 0.00);
 }

 .signup .submit {
    width: 481.385px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 64px;
    background: #000;
    color: #fff;           /* Sets the text color to white */
    text-align: center;    /* Centers the text horizontally */
    display: flex;         /* Allows you to center text horizontally and vertically */
    align-items: center;   /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
    font-size: 16px;       /* Adjust as needed for your design */
    font-weight: bold;     /* Optional: makes text bold */
 }
